body {
  background-color: darkred;
  filter: invert(1);
}
#tb-header,
.tb-aside,
#tb-footer,
.tb-comments,
.st-sticky-share-buttons,
img[width="0"][height="0"] {
  display: none !important;
}
.tb-post-header {
  padding-top: 75px !important;
  margin-bottom: 37.5px !important;
  text-align: center;
}
.tb-hero-p {
  margin-right: auto;
  margin-left: auto;
}
.tb-post {
  justify-content: center;
}
